body {
	background-color: #f95656;
	
	
}

body,h1 {
	font-family: "Raleway", sans-serif
}
body, html {
	height: 100%
}




h1 {
	color: white;
	border-bottom: 4px solid  black;
	font-size: 40px;
}

h1.Border {
	color:    #000000;
	border: 6px  solid    #000000 ;
	border-radius: 10px;  
	font-size: 50px;
}

li {
	color: white;
	
}

p {
	
	font-size: 25px;
}

p.some {
	
	font-size: 25px;
}

p.somebody {
	
	font-size: 25px;
}

h1.two {
	color:  #9596f3;
}

h1.three {
	
	color: #000000;
	border: 1px;
}


#error{
	color: red;
	padding: 15px;
}

<<<<<<< HEAD
h2.sum{
	color: #0f2032; 
	font-family:Apple Chancery;
	font-size:40px;
	border:5px solid black;
	border-radius: 4px;
}

a.som{
	font-size: 25px;
	color: #3b66d8;
	font-family:Baoli SC;
}

p.sam{
	font-size:25px;
	color: #3c66d8;
	font-family:Baoli SC;

}

p.lol{
	font-size:25px;
	color: #3c66d8;
	font-family:Baoli SC;
}

p.Lol{
	font-size:25px;
	color:#3c66d8;
	font-family:Baoli SC;
}

a.LoL{
	color:#3c66d8;
}

img{
	padding: 4px;
	width: 240px;
	height: 140px;
}








=======
body.left{
	margin: auto; 
}

p.center{
	font-size: 50px;
	margin-top: 300px;
}
>>>>>>> 5c5d576e03efce6e4c2f35b92826d2f7d5301088
