body {
	background-color: #f95656;
	
	
}

body,h1 {
	font-family: "Raleway", sans-serif
}
body, html {
	height: 100%
}




h1 {
	color: white;
	border-bottom: 4px solid  black;
	font-size: 40px;
}

h1.Border {
	color:    #000000;
	border: 6px  solid    #000000 ;
	border-radius: 10px;  
	font-size: 50px;
}

li {
	color: white;
	
}

p {
	
	font-size: 25px;
}

p.some {
	
	font-size: 25px;
}

p.somebody {
	
	font-size: 25px;
}

h1.two {
	color:  #9596f3;
}

h1.three {
	
	color: #000000;
	border: 1px;
}


#error{
	color: red;
	padding: 15px;
}

body.left{
	margin: auto; 
}

p.center{
	font-size: 50px;
	margin-top: 300px;
}